Author: Shayon Gupta 
Exploring the dataset

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import sys #for increasing recursion limit
sys.setrecursionlimit(1000000)

In [3]:
df=pd.read_excel('IMDB Dataset.xlsx')

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
df.groupby(by='sentiment',axis=0,sort=False).count()

           review
sentiment
positive    25000
negative    24998

In [6]:
pos=df[df['sentiment']=='positive']

In [7]:
pos.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive

In [8]:
pos.iloc[0,0]

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [9]:
neg=df[df['sentiment']=='negative']

In [10]:
neg.head()

                                               review sentiment
3   Basically there's a family where a little boy ...  negative
7   This show was an amazing, fresh & innovative i...  negative
8   Encouraged by the positive comments about this...  negative
10  Phil the Alien is one of those quirky films wh...  negative
11  I saw this movie when I was about 12 when it c...  negative

In [11]:
neg.iloc[0,0]

"Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them."

In [12]:
import re

In [26]:
def cleanTxt(text):
    text = str(text)
    text = text.lower()
    text = re.sub(r'[;:!\\"()\[\]]',"", text)
    text = re.sub(r'(<br\s*/><br\s*/>)|(\-)|(\/)'," ", text)
    return text

In [27]:
cleanTxt("Basically there's a family where a little boy (Jake) thinks there's a zombie in his closet & his parents are fighting all the time.<br /><br />This movie is slower than a soap opera... and suddenly, Jake decides to become Rambo and kill the zombie.<br /><br />OK, first of all when you're going to make a film you must Decide if its a thriller or a drama! As a drama the movie is watchable. Parents are divorcing & arguing like in real life. And then we have Jake with his closet which totally ruins all the film! I expected to see a BOOGEYMAN similar movie, and instead i watched a drama with some meaningless thriller spots.<br /><br />3 out of 10 just for the well playing parents & descent dialogs. As for the shots with Jake: just ignore them.")

"basically there's a family where a little boy jake thinks there's a zombie in his closet & his parents are fighting all the time. this movie is slower than a soap opera... and suddenly, jake decides to become rambo and kill the zombie. ok, first of all when you're going to make a film you must decide if its a thriller or a drama as a drama the movie is watchable. parents are divorcing & arguing like in real life. and then we have jake with his closet which totally ruins all the film i expected to see a boogeyman similar movie, and instead i watched a drama with some meaningless thriller spots. 3 out of 10 just for the well playing parents & descent dialogs. as for the shots with jake just ignore them."

In [28]:
df['review']=df['review'].apply(cleanTxt)

In [29]:
df

                                                  review sentiment
0      one of the other reviewers has mentioned that ...  positive
1      a wonderful little production.  the filming te...  positive
2      i thought this was a wonderful way to spend ti...  positive
3      basically there's a family where a little boy ...  negative
4      petter mattei's love in the time of money is a...  positive
...                                                  ...       ...
49995  i thought this movie did a down right good job...  positive
49996  bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  i am a catholic taught in parochial elementary...  negative
49998  i'm going to have to disagree with the previou...  negative
49999  no one expects the star trek movies to be high...  negative

[50000 rows x 2 columns]

In [30]:
pos=df[df['sentiment']=='positive']

In [31]:
neg=df[df['sentiment']=='negative']

In [32]:
import nltk

In [33]:
word=nltk.word_tokenize(neg.iloc[0,0])
word

['basically',
 'there',
 "'s",
 'a',
 'family',
 'where',
 'a',
 'little',
 'boy',
 'jake',
 'thinks',
 'there',
 "'s",
 'a',
 'zombie',
 'in',
 'his',
 'closet',
 '&',
 'his',
 'parents',
 'are',
 'fighting',
 'all',
 'the',
 'time',
 '.',
 'this',
 'movie',
 'is',
 'slower',
 'than',
 'a',
 'soap',
 'opera',
 '...',
 'and',
 'suddenly',
 ',',
 'jake',
 'decides',
 'to',
 'become',
 'rambo',
 'and',
 'kill',
 'the',
 'zombie',
 '.',
 'ok',
 ',',
 'first',
 'of',
 'all',
 'when',
 'you',
 "'re",
 'going',
 'to',
 'make',
 'a',
 'film',
 'you',
 'must',
 'decide',
 'if',
 'its',
 'a',
 'thriller',
 'or',
 'a',
 'drama',
 'as',
 'a',
 'drama',
 'the',
 'movie',
 'is',
 'watchable',
 '.',
 'parents',
 'are',
 'divorcing',
 '&',
 'arguing',
 'like',
 'in',
 'real',
 'life',
 '.',
 'and',
 'then',
 'we',
 'have',
 'jake',
 'with',
 'his',
 'closet',
 'which',
 'totally',
 'ruins',
 'all',
 'the',
 'film',
 'i',
 'expected',
 'to',
 'see',
 'a',
 'boogeyman',
 'similar',
 'movie',
 ',',
 'and',
 'instead',
 'i',
 'watched',
 'a',
 'drama',
 'with',
 'some',
 'meaningless',
 'thriller',
 'spots',
 '.',
 '3',
 'out',
 'of',
 '10',
 'just',
 'for',
 'the',
 'well',
 'playing',
 'parents',
 '&',
 'descent',
 'dialogs',
 '.',
 'as',
 'for',
 'the',
 'shots',
 'with',
 'jake',
 'just',
 'ignore',
 'them',
 '.']

In [36]:
sentence = nltk.sent_tokenize(pos.iloc[1,0])
sentence

['a wonderful little production.',
 'the filming technique is very unassuming  very old time bbc fashion and gives a comforting, and sometimes discomforting, sense of realism to the entire piece.',
 "the actors are extremely well chosen  michael sheen not only has got all the polari but he has all the voices down pat too you can truly see the seamless editing guided by the references to williams' diary entries, not only is it well worth the watching but it is a terrificly written and performed piece.",
 "a masterful production about one of the great master's of comedy and his life.",
 "the realism really comes home with the little things the fantasy of the guard which, rather than use the traditional 'dream' techniques remains solid then disappears.",
 "it plays on our knowledge and our senses, particularly with the scenes concerning orton and halliwell and the sets particularly of their flat with halliwell's murals decorating every surface are terribly well done."]

In [48]:
def feature(sent):
    positive_words = ['wonderful','good','excellent','terrific','masterful']
    negative_words = ['slower','bad','lengthy','worst','disgraceful','mediocrity']
    count_neg = 0
    count_pos = 0
    word = nltk.word_tokenize(sent)
    for i in word:
        if i in positive_words:
            count_pos+=1
        if i in negative_words:
            count_pos+=1
    feat=dict(positive_words = count_pos,negative_words = count_neg)
    return feat

In [49]:
feature(pos.iloc[1,0])

{'positive_words': 2, 'negative_words': 0}

In [62]:
featureset=df['review'].apply(feature)

                                       featureset
0      {'positive_words': 0, 'negative_words': 0}
1      {'positive_words': 2, 'negative_words': 0}
2      {'positive_words': 1, 'negative_words': 0}
3      {'positive_words': 1, 'negative_words': 0}
4      {'positive_words': 2, 'negative_words': 0}
...                                           ...
49995  {'positive_words': 1, 'negative_words': 0}
49996  {'positive_words': 4, 'negative_words': 0}
49997  {'positive_words': 3, 'negative_words': 0}
49998  {'positive_words': 0, 'negative_words': 0}
49999  {'positive_words': 2, 'negative_words': 0}

[50000 rows x 1 columns]

In [64]:
df['featureset']=featureset

In [65]:
df

,review,sentiment,featureset
0,one of the other reviewers has mentioned that ...,positive,"{'positive_words': 0, 'negative_words': 0}"
1,a wonderful little production. the filming te...,positive,"{'positive_words': 2, 'negative_words': 0}"
2,i thought this was a wonderful way to spend ti...,positive,"{'positive_words': 1, 'negative_words': 0}"
3,basically there's a family where a little boy ...,negative,"{'positive_words': 1, 'negative_words': 0}"
4,petter mattei's love in the time of money is a...,positive,"{'positive_words': 2, 'negative_words': 0}"
...,...,...,...
49995,i thought this movie did a down right good job...,positive,"{'positive_words': 1, 'negative_words': 0}"
49996,"bad plot, bad dialogue, bad acting, idiotic di...",negative,"{'positive_words': 4, 'negative_words': 0}"
49997,i am a catholic taught in parochial elementary...,negative,"{'positive_words': 3, 'negative_words': 0}"
49998,i'm going to have to disagree with the previou...,negative,"{'positive_words': 0, 'negative_words': 0}"
49999,no one expects the star trek movies to be high...,negative,"{'positive_words': 2, 'negative_words': 0}"

In [70]:
classifier = nltk.NaiveBayesClassifier(list([df['sentiment']))

SyntaxError: invalid syntax (<ipython-input-70-130f01cee57c>, line 1)

In [73]:
list([df['sentiment'])

SyntaxError: invalid syntax (<ipython-input-73-dc06ceae9eaa>, line 1)